* {
    font-family: "Lato", "Roboto", "san-serif";
}

.modal-wrapper {
    height: 400px;
}

.btn {
    margin: 0 5px;
    box-shadow: none !important;
}

.primary-btn {
    background-color: #005587 !important;
}

.primary-btn:hover,
.primary-btn:focus {
    background-color: #32769f !important;
}

.primary-btn:active {
    background-color: #005587 !important;
}

.basic-btn,
.basic-btn:hover,
.basic-btn:focus {
    background-color: transparent !important;
    color: #5F5F5F !important;
    transition: all 0.3s ease-in-out;
}

.basic-btn:active {
    background-color: #E2E3E4 !important;
    color: #5F5F5F !important;
}
.modal-content{
  padding-bottom: 0 !important;
}

.exam-info {
    color: #5F5F5F !important;
    word-spacing: 0.3rem;
    margin-left: 1rem;
    padding-left: 0.5rem;
    border-left: 1px solid #5F5F5F;
}

thead{
    background-color: #ededed !important;
}
thead th{
    font-weight:400 !important;
    padding: 5px 5px;
}

th:first-of-type,
tr>td:first-of-type{
    text-align: left !important;
}