* {
    font-family: "Lato", "Roboto", "san-serif";
}
table{
	overflow: scroll;
}
thead{
    background-color: #ededed !important;
}
thead th{
    font-weight:400 !important;
    padding: 5px 5px;
    min-width: 70px;
}
th.kolegij,
td.kolegij{
	text-align: left !important;
}
i.material-icons{
	vertical-align: bottom;
}
#dropdown-filter-container {
	text-align: right;
}
#dropdown-filter > li{
	padding: 10%;
}