* {
    font-family: "Lato", "Roboto", "san-serif";
}
html,
body{
	width: 100%;
	height: 100%;
}

table {
    overflow: scroll;
}

thead {
    background-color: #F2F2F2 !important;
}

thead th {
    font-weight: 400 !important;
    padding: 10px 5px;
    min-width: 70px;
}

th.kolegij,
td.kolegij {
    text-align: left !important;
}

i.material-icons {
    vertical-align: bottom;
}

#dropdown-filter-container {
    text-align: right;
}

#dropdown-filter {
    right: 10px;
}

#dropdown-filter > li {
    padding: 10%;
}
#dropdown-filter > div{
	margin: 30px;
	margin-bottom: 0;
}

.dropdown-content {
    opacity: 1;
}
