<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Odjava ispita</title>
    <link rel="stylesheet" href="../static/materialize/css/materialize.css">
    <link rel="stylesheet" href="../static/css/sumirani-bodovi.css">
    <script src="../static/js/lib/jquery-2.2.4.min.js"></script>
</head>

<body>
    <!-- Dropdown Trigger -->
    <div id="dropdown-filter-container">
        <div class="sticky">
            <a class='dropdown-button btn-flat'>FILTRIRAJ <i class="material-icons">filter_list</i></a>
        </div>
        <!-- Dropdown Structure -->
        <ul id='dropdown-filter' class='dropdown-content'>
            <div class="row">
                <div class="col s6">
                    <li class="kolegij">
                        <input type="checkbox" id="kolegij" checked="checked" />
                        <label for="kolegij">Kolegij</label>
                    </li>
                    <li class="ishod">
                        <input type="checkbox" id="ishod" />
                        <label for="ishod">Ishodi</label>
                    </li>
                    <li class="ukupno-bodova">
                        <input type="checkbox" id="ukupno-bodova" checked="checked" />
                        <label for="ukupno-bodova">Ukupno bodova</label>
                    </li>
                    <li class="ocjena">
                        <input type="checkbox" id="ocjena" checked="checked" />
                        <label for="ocjena">Ocjena</label>
                    </li>
                    <li class="potpis">
                        <input type="checkbox" id="potpis" checked="checked" />
                        <label for="potpis">Potpis</label>
                    </li>
                    <li class="ects">
                        <input type="checkbox" id="ects" />
                        <label for="ects">ECTS</label>
                    </li>
                </div>
                <div class="col s6">
                    <li class="dolaznost">
                        <input type="checkbox" id="dolaznost" />
                        <label for="dolaznost">Dolaznost</label>
                    </li>
                    <li class="ispricnice">
                        <input type="checkbox" id="ispricnice" />
                        <label for="ispricnice">Ispričnice</label>
                    </li>
                    <li class="ukupno-dol-ispr">
                        <input type="checkbox" id="ukupno-dol-ispr" />
                        <label for="ukupno-dol-ispr">Ukupno</label>
                    </li>
                    <li class="dopunska-on-line">
                        <input type="checkbox" id="dopunska-on-line" />
                        <label for="dopunska-on-line">Dopunska/on-line</label>
                    </li>
                    <li class="broj-prijava-ispita">
                        <input type="checkbox" id="broj-prijava-ispita" />
                        <label for="broj-prijava-ispita">Broj prijava ispita</label>
                    </li>
                </div>
            </div>
        </ul>
    </div>
    <table class="bordered centered">
        <thead>
            <tr>
                <th class="kolegij">KOLEGIJ</th>
                <th class="ishod">I1</th>
                <th class="ishod">I2</th>
                <th class="ishod">I3</th>
                <th class="ishod">I4</th>
                <th class="ishod">I5</th>
                <th class="ishod">I6</th>
                <th class="ishod">I7</th>
                <th class="ishod">I8</th>
                <th class="ishod">I9</th>
                <th class="ukupno-bodova">UKUPNO BODOVA</th>
                <th class="ocjena">OCJENA</th>
                <th class="potpis">POTPIS</th>
                <th class="ects">ECTS</th>
                <th class="dolaznost">DOLAZNOST</th>
                <th class="ispricnice">ISPRIČNICE</th>
                <th class="ukupno-dol-ispr">UKUPNO</th>
                <th class="dopunska-on-line">DOPUNSKA/ ON-LINE</th>
                <th class="broj-prijava-ispita">BROJ PRIJAVA ISPITA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="kolegij">Engleski jezik</td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ukupno-bodova"></td>
                <td class="ocjena">Vrlo dobar(4)</td>
                <td class="potpis">PRIZNAT</td>
                <td class="ects">6</td>
                <td class="dolaznost">0%</td>
                <td class="ispricnice">0%</td>
                <td class="ukupno-dol-ispr">0%</td>
                <td class="dopunska-on-line"></td>
                <td class="broj-prijava-ispita">0</td>
            </tr>
            <tr>
                <td class="kolegij">Psihologija u marketinškim komunikcijama</td>
                <td class="ishod">13/17</td>
                <td class="ishod">15/19</td>
                <td class="ishod">14/19</td>
                <td class="ishod">16/18</td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ukupno-bodova">58</td>
                <td class="ocjena">Dobar(3)</td>
                <td class="potpis">20.01.2016</td>
                <td class="ects">7</td>
                <td class="dolaznost">95.2%</td>
                <td class="ispricnice">0%</td>
                <td class="ukupno-dol-ispr">95.2%</td>
                <td class="dopunska-on-line"></td>
                <td class="broj-prijava-ispita">1</td>
            </tr>
            <tr>
                <td class="kolegij">Uvod u marketing i medijske komunikacije</td>
                <td class="ishod">17/18</td>
                <td class="ishod">16/18</td>
                <td class="ishod">14/16</td>
                <td class="ishod">16/16</td>
                <td class="ishod">24/24</td>
                <td class="ishod">5/5</td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ukupno-bodova">92</td>
                <td class="ocjena">Odličan(5)</td>
                <td class="potpis">27.01.2016</td>
                <td class="ects">7</td>
                <td class="dolaznost">95.2%</td>
                <td class="ispricnice">0%</td>
                <td class="ukupno-dol-ispr">95.2%</td>
                <td class="dopunska-on-line"></td>
                <td class="broj-prijava-ispita">1</td>
            </tr>
            <tr>
                <td class="kolegij">Engleski jezik</td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ukupno-bodova"></td>
                <td class="ocjena">Vrlo dobar(4)</td>
                <td class="potpis">PRIZNAT</td>
                <td class="ects">6</td>
                <td class="dolaznost">0%</td>
                <td class="ispricnice">0%</td>
                <td class="ukupno-dol-ispr">0%</td>
                <td class="dopunska-on-line"></td>
                <td class="broj-prijava-ispita">0</td>
            </tr>
            <tr>
                <td class="kolegij">Psihologija u marketinškim komunikcijama</td>
                <td class="ishod">13/17</td>
                <td class="ishod">15/19</td>
                <td class="ishod">14/19</td>
                <td class="ishod">16/18</td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ukupno-bodova">58</td>
                <td class="ocjena">Dobar(3)</td>
                <td class="potpis">20.01.2016</td>
                <td class="ects">7</td>
                <td class="dolaznost">95.2%</td>
                <td class="ispricnice">0%</td>
                <td class="ukupno-dol-ispr">95.2%</td>
                <td class="dopunska-on-line"></td>
                <td class="broj-prijava-ispita">1</td>
            </tr>
            <tr>
                <td class="kolegij">Uvod u marketing i medijske komunikacije</td>
                <td class="ishod">17/18</td>
                <td class="ishod">16/18</td>
                <td class="ishod">14/16</td>
                <td class="ishod">16/16</td>
                <td class="ishod">24/24</td>
                <td class="ishod">5/5</td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ukupno-bodova">92</td>
                <td class="ocjena">Odličan(5)</td>
                <td class="potpis">27.01.2016</td>
                <td class="ects">7</td>
                <td class="dolaznost">95.2%</td>
                <td class="ispricnice">0%</td>
                <td class="ukupno-dol-ispr">95.2%</td>
                <td class="dopunska-on-line"></td>
                <td class="broj-prijava-ispita">1</td>
            </tr>
            <tr>
                <td class="kolegij">Engleski jezik</td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ukupno-bodova"></td>
                <td class="ocjena">Vrlo dobar(4)</td>
                <td class="potpis">PRIZNAT</td>
                <td class="ects">6</td>
                <td class="dolaznost">0%</td>
                <td class="ispricnice">0%</td>
                <td class="ukupno-dol-ispr">0%</td>
                <td class="dopunska-on-line"></td>
                <td class="broj-prijava-ispita">0</td>
            </tr>
            <tr>
                <td class="kolegij">Psihologija u marketinškim komunikcijama</td>
                <td class="ishod">13/17</td>
                <td class="ishod">15/19</td>
                <td class="ishod">14/19</td>
                <td class="ishod">16/18</td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ukupno-bodova">58</td>
                <td class="ocjena">Dobar(3)</td>
                <td class="potpis">20.01.2016</td>
                <td class="ects">7</td>
                <td class="dolaznost">95.2%</td>
                <td class="ispricnice">0%</td>
                <td class="ukupno-dol-ispr">95.2%</td>
                <td class="dopunska-on-line"></td>
                <td class="broj-prijava-ispita">1</td>
            </tr>
            <tr>
                <td class="kolegij">Uvod u marketing i medijske komunikacije</td>
                <td class="ishod">17/18</td>
                <td class="ishod">16/18</td>
                <td class="ishod">14/16</td>
                <td class="ishod">16/16</td>
                <td class="ishod">24/24</td>
                <td class="ishod">5/5</td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ukupno-bodova">92</td>
                <td class="ocjena">Odličan(5)</td>
                <td class="potpis">27.01.2016</td>
                <td class="ects">7</td>
                <td class="dolaznost">95.2%</td>
                <td class="ispricnice">0%</td>
                <td class="ukupno-dol-ispr">95.2%</td>
                <td class="dopunska-on-line"></td>
                <td class="broj-prijava-ispita">1</td>
            </tr>
            <tr>
                <td class="kolegij">Engleski jezik</td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ukupno-bodova"></td>
                <td class="ocjena">Vrlo dobar(4)</td>
                <td class="potpis">PRIZNAT</td>
                <td class="ects">6</td>
                <td class="dolaznost">0%</td>
                <td class="ispricnice">0%</td>
                <td class="ukupno-dol-ispr">0%</td>
                <td class="dopunska-on-line"></td>
                <td class="broj-prijava-ispita">0</td>
            </tr>
            <tr>
                <td class="kolegij">Psihologija u marketinškim komunikcijama</td>
                <td class="ishod">13/17</td>
                <td class="ishod">15/19</td>
                <td class="ishod">14/19</td>
                <td class="ishod">16/18</td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ukupno-bodova">58</td>
                <td class="ocjena">Dobar(3)</td>
                <td class="potpis">20.01.2016</td>
                <td class="ects">7</td>
                <td class="dolaznost">95.2%</td>
                <td class="ispricnice">0%</td>
                <td class="ukupno-dol-ispr">95.2%</td>
                <td class="dopunska-on-line"></td>
                <td class="broj-prijava-ispita">1</td>
            </tr>
            <tr>
                <td class="kolegij">Uvod u marketing i medijske komunikacije</td>
                <td class="ishod">17/18</td>
                <td class="ishod">16/18</td>
                <td class="ishod">14/16</td>
                <td class="ishod">16/16</td>
                <td class="ishod">24/24</td>
                <td class="ishod">5/5</td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ukupno-bodova">92</td>
                <td class="ocjena">Odličan(5)</td>
                <td class="potpis">27.01.2016</td>
                <td class="ects">7</td>
                <td class="dolaznost">95.2%</td>
                <td class="ispricnice">0%</td>
                <td class="ukupno-dol-ispr">95.2%</td>
                <td class="dopunska-on-line"></td>
                <td class="broj-prijava-ispita">1</td>
            </tr>
            <tr>
                <td class="kolegij">Engleski jezik</td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ukupno-bodova"></td>
                <td class="ocjena">Vrlo dobar(4)</td>
                <td class="potpis">PRIZNAT</td>
                <td class="ects">6</td>
                <td class="dolaznost">0%</td>
                <td class="ispricnice">0%</td>
                <td class="ukupno-dol-ispr">0%</td>
                <td class="dopunska-on-line"></td>
                <td class="broj-prijava-ispita">0</td>
            </tr>
            <tr>
                <td class="kolegij">Psihologija u marketinškim komunikcijama</td>
                <td class="ishod">13/17</td>
                <td class="ishod">15/19</td>
                <td class="ishod">14/19</td>
                <td class="ishod">16/18</td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ukupno-bodova">58</td>
                <td class="ocjena">Dobar(3)</td>
                <td class="potpis">20.01.2016</td>
                <td class="ects">7</td>
                <td class="dolaznost">95.2%</td>
                <td class="ispricnice">0%</td>
                <td class="ukupno-dol-ispr">95.2%</td>
                <td class="dopunska-on-line"></td>
                <td class="broj-prijava-ispita">1</td>
            </tr>
            <tr>
                <td class="kolegij">Uvod u marketing i medijske komunikacije</td>
                <td class="ishod">17/18</td>
                <td class="ishod">16/18</td>
                <td class="ishod">14/16</td>
                <td class="ishod">16/16</td>
                <td class="ishod">24/24</td>
                <td class="ishod">5/5</td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ishod"></td>
                <td class="ukupno-bodova">92</td>
                <td class="ocjena">Odličan(5)</td>
                <td class="potpis">27.01.2016</td>
                <td class="ects">7</td>
                <td class="dolaznost">95.2%</td>
                <td class="ispricnice">0%</td>
                <td class="ukupno-dol-ispr">95.2%</td>
                <td class="dopunska-on-line"></td>
                <td class="broj-prijava-ispita">1</td>
            </tr>
        </tbody>
    </table>
    <script type="text/javascript">
    $(document).ready(function() {

        $('#dropdown-filter input').each(function() {
            var $ele = $(this);
            if (!$ele.is(':checked')) {
                $('table tr').find('.' + $ele.attr('id')).hide();
            }
        });

        $('#dropdown-filter-container a').on('click', function(e) {
            $('#dropdown-filter').slideToggle();
        });

        $('#dropdown-filter').on('click', 'li', function(e) {
            e.preventDefault();
            var $ele = $(this).find('input');
            $ele.prop('checked', !$ele.is(':checked'));
            $('table tr').find('.' + $ele.attr('id')).fadeToggle();
        });
    });
    </script>
</body>

</html>
